<div>
  <div>一覧</div>
  <% @films. each do |film| %>
    <p>Title</p>
    <div><%= film.film_title %></div>
    <p>Introduction</p><%= film.introduction %>

    <p>評価 :<%= film.evaluation%>点</p>
      <div id="star-rate<%= film.id %>"></div>
      <script>
        $('#star-rate<%= film.id%>').raty({
          size      : 36,
          starOff   : '<%= asset_path('star-off.png') %>',
          starOn    : '<%= asset_path('star-on.png') %>',
          half      : false,
          readOnly: true,
          score: <%= film.evaluation %>,
        });
      </script>
    <%= link_to "詳細", public_film_path(film.id) %>
  <% end %>

</div>