<div class="container px-5 px-sm-0">
 <div class="row row-cols-2">
   <div class="col-3">
     <%= render 'public/films/list', user: @user, user: current_user %>
   </div>
 <div class="col-8">
   <% @user.films. each do |film| %>
   　<article class="post-preview">
          <h2 class="post-taitle">
            <%= film.film_title %>
          </h2>
          <h3 class="post-introduction"><%= film.introduction %></h3>
          <div id="star-rate<%= film.id %>">Excellent!!!</div>
          <script>
            $('#star-rate<%= film.id%>').raty({
              size      : 36,
              starOff   : '<%= asset_path('star-off.png') %>',
              starOn    : '<%= asset_path('star-on.png') %>',
              half      : false,
              readOnly: true,
              score: <%= film.evaluation %>,
            });
          </script>
          <%= link_to "read more", public_film_path(film.id), class:'text-secondary' %>
          <hr>
    <% end %>
 </div>
</div>